<template>
	<div class="favorite">
		<div class="container">
			<div class="content">
				<div
					class="menu__pictures"
					v-for="(item, key) in dogsFavorite"
					:key="key"
					:style="{ backgroundImage: 'url(' + item + ')' }"
				>
					<div class="menu__pictures_favorite" @click="checkFavorite(item)"><img src="../assets/images/menu/favorite-dogs.svg" alt=""></div>
					<div class="menu__pictures_name">{{dogsBreedName(item)}}</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import * as types from '@/stores/modules/global/types'

export default {
	name: 'Favorites',
	data () {
		return {
			dogsFavorite: localStorage.getItem('favorites') ? JSON.parse(localStorage.getItem('favorites')) : this.$store.getters['global/getFavoritesDogs']
		}
	},
	methods: {
		dogsBreedName(url) {
			const name = url.split('/')
			return name[4]
		},
		checkFavorite(item){
			this.dogsFavorite = this.dogsFavorite.filter((val) => val != item)
			localStorage.setItem('favorites', JSON.stringify(this.dogsFavorite))
			this.$store.dispatch('global/' + types.A_SAVE_DOGS_FAVORITE, item)
		},
	}
}
</script>
<style lang='scss' scoped>
.favorite{
	min-height: 100vh;
}
.content{
	padding-top: 122px;
	padding-bottom: 50px;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}
.menu__pictures {
	margin-right: 10px;
	margin-bottom: 10px;
	flex: 0 1 calc(100% / 3 - (20px / 3));
	height: 290px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 100% 20%;
	border-radius: 8px;
	position: relative;
	&:nth-child(3n) {
		margin-right: 0;
	}
	&_favorite {
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
	}
	&_name {
		position: absolute;
		right: 25px;
		bottom: 25px;
		font-family: IBM Plex Sans;
		font-weight: 600;
		font-size: 25px;
		line-height: 28px;
		letter-spacing: 0.01em;
		color: #FFFFFF;
	}
}
.container{
	width: 95%;
	margin: 0 auto;
}
</style>
