/* eslint-disable */
<template>
	<div class="main">
		<div class="container">
			<div class="content">
				<Tabs :breeds="breeds" @searchByBreed="search($event)"/>
				<Menu :dogs="dogs"/>
			</div>
		</div>
	</div>
</template>

<script>
import Tabs from '../components/Tabs'
import Menu from '../components/Menu'
import * as types from '@/stores/modules/global/types'

export default {
	name: 'Main',
	components:{
		Tabs,
		Menu
	},
	mounted() {
		this.$store.dispatch('global/' + types.A_GET_DOGS)
		this.$store.dispatch('global/' + types.A_GET_BREEDS)
	},
	computed: {
		dogs() {
			return this.$store.getters['global/getDogs']
		},
		breeds() {
			return this.$store.getters['global/getBreeds']
		}
	},
	methods: {
		search(event) {
			this.$store.dispatch('global/' + types.A_GET_DOGS_BREED, event)
		}
	}
}
</script>
<style scoped>
h1, h2 {
	font-weight: normal;
}
.container{
	width: 95%;
	margin: 0 auto;
}
.content{
	padding-top: 50px;
	width: 100%;
}
.main{
	min-height: 100vh;
	padding-bottom: 80px
}
</style>
