<template>
	<div class="header">
		<div class="container">
			<div class="header__content">
				<router-link tag="div" to="/" class="header__left">
					<img src="../assets/images/header/Pesel.png" alt="">
				</router-link>
				<router-link tag="div" to="/favorites" class="header__right">
					<p class="header__text">Избранные пёсели</p>
					<img src="../assets/images/header/Shape.svg" alt="">
				</router-link>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Header',
	data() {
		return {}
	}
}
</script>

<style  lang='scss' scoped>
.header{
	width: 100%;
	background: #151419;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.55);
	padding: 35px 0;
	&__content{
		display: flex;
		justify-content: space-between;
	}
	&__left{
		cursor: pointer;
	}
	&__right{
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	&__text{
		font-family: IBM Plex Sans;
		font-weight: normal;
		font-size: 16px;
		line-height: 28px;
		letter-spacing: 0.01em;
		color: #626262;
		margin-right: 10px;
	}
}
.container{
	width: 95%;
	margin: 0 auto;
}
</style>