<template>
	<div class="menu">
		<div class="menu__content">
			<div
				class="menu__pictures"
				v-for="(item, key) in dogs" 
				:key="key" 
				:class="(key==0 ? 'menu__pictures-full' : '')"
				:style="{ backgroundImage: 'url(' + item + ')' }"
			>
				<div v-if="favorites.includes(item)" class="menu__pictures_favorite" @click="checkFavorite(item)"><img src="../assets/images/menu/favorite-dogs.svg" alt=""></div>
				<div v-else class="menu__pictures_favorite" @click="checkFavorite(item)"><img src="../assets/images/menu/shape.svg" alt=""></div>
				<div class="menu__pictures_name">{{dogsBreedName(item)}}</div>
			</div>
			<infinite-loading @infinite="infiniteHandler">
				<div slot="spinner">
					<div class="menu__slide">
						<span  :class="['menu__slide-toggle', {'menu__slide-toggle_active': key === 2 }]" v-for="(item, key) in 3 " :key="key" ></span>
					</div> 
				</div>
				<div slot="no-more">No more message</div>
				<div slot="no-results">No results message</div>
			</infinite-loading>
		</div>
		<div class="menu__footer">
			<img  @click="ScrollToTop()" src="../assets/images/footer/slack.svg" alt="">
		</div>
	</div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'
import * as types from '@/stores/modules/global/types'
export default {
	name: 'Menu',
	props: {
		dogs: {
			type: Array,
			default: []
		}
	},
	data(){
		return{
			dogsList: this.dogs ? this.dogs : [],
			favorites: localStorage.getItem('favorites') ? JSON.parse(localStorage.getItem('favorites')) : []
		}
	},
	components: {
		InfiniteLoading,
	},
	methods:{
		checkFavorite(item){
			if(this.favorites.includes(item)) {
				this.favorites = this.favorites.filter((val) => val != item)
				localStorage.setItem('favorites', JSON.stringify(this.favorites))
			} else {
				this.favorites.push(item)
				localStorage.setItem('favorites', JSON.stringify(this.favorites))
			}
			this.$store.dispatch('global/' + types.A_SAVE_DOGS_FAVORITE, item)
		},
		ScrollToTop(){
			window.scrollTo({
				top:0,
				left:0,
				behavior: 'smooth'
			})
		},
		infiniteHandler($state) {
			this.$store.dispatch('global/' + types.A_GET_DOGS)
				.then(res => {
					if (res.length) {
						$state.loaded()
					} else {
						$state.complete()
					}
				})
		},
		dogsBreedName(url) {
			const name = url.split('/')
			return name[4]
		}
	}
}
</script>

<style lang="scss" scoped>
.menu{
	&__slide{
		width: 100%;
		position: absolute;
		bottom: -85px;
		&-toggle{
						border-radius: 50%;
						width: 12px;
						height: 12px;
						border: 1px solid #FFFFFF;
						display: inline-block;
						margin-right: 15px;
						cursor: pointer;
						&_active{
										transform: scale(1.2);
						}
		}
	}
	&__content{
		display: flex;
		justify-content: flex-start;
		margin-top: 50px;
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;
	}
	&__pictures-full {
		flex: 0 0 100% !important;
		min-height: 500px;
	}
	&__pictures{
		margin-right: 10px;
		margin-bottom: 10px;
		flex: 0 1 calc(100%/3 - (20px/3));
		height: 290px;
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 100% 20%;
		border-radius: 8px;
		position: relative;
		&:nth-child(3n - 2) {
			margin-right: 0;
		}
		&_favorite{
			position: absolute;
			top: 25px;
			left: 25px;
			cursor: pointer;
		}
		&_name{
			position: absolute;
			right: 25px;
			bottom: 25px;
			font-family: IBM Plex Sans;
			font-weight: 600;
			font-size: 25px;
			line-height: 28px;
			letter-spacing: 0.01em;
			color: #FFFFFF;
		}
	}
	&__footer{
		position: fixed;
		bottom: 50px;
		right: 50px;
		img{
			cursor: pointer;
		}
		.scroll{
			circle{
				fill: red;
				stroke: red;
			}
			width: 100px;
			height: 100px;
			fill: #FFFFFF;
		}
	}
}
</style>