<template>
	<div class="checkbox-sort">
		<p class="checkbox-sort__text">Сортировка по алфавиту</p>
		<div  :class="['checkbox', {'checkbox__active' : statusCheckboxActive}]" @click="checkboxChecked()">
			<div class="checkbox__checked"></div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Sort',
	data(){
		return{
			statusCheckboxActive: false
		}
	},
	methods:{
		checkboxChecked(){
			this.statusCheckboxActive = !this.statusCheckboxActive
		}
	}
}
</script>

<style lang='scss' scoped>
.checkbox-sort{
	display: flex;
	align-items: center;
	&__text{
		font-family: IBM Plex Sans;
		font-weight: normal;
		font-size: 16px;
		line-height: 28px;
		letter-spacing: 0.01em;
		color: #626262;
		margin-right: 16px;
	}
}
.checkbox{
	width: 30px;
	height: 15px;
	background: #151419;
	border: 1px solid #626262;
	box-sizing: border-box;
	border-radius: 9px;
	padding: 2px;
	transition: all .3s;
	&__checked{
		width: 9px;
		height: 9px;
		background: #626262;
		border-radius: 50%;
		transition: all .3s;
	}
	&__active{
		background: #2d2b34;
		.checkbox__checked{
						margin-left: 15px;
		}
	}
}
</style>