<template>
	<div>
		<div class="flex">
			<div class="flex__tabs">
				<div class="tabs-menu" @click="tabsShow()">
					<p class="tabs-menu__headline">Породы</p>
					<img  :class="{'tabs-menu__icon' : statusTabsShow}" src="../assets/images/tabs/Shape.svg" alt="">
				</div>
				<div class="selected-tab" v-if="selectedBreeds.length > 0">
					<div class="tabs-list tabs-list__selected">
						<div class="tabs-list__text">{{selectedBreeds}}</div>
						<div class="tabs-list__icon" @click="deleteItem()">X</div>
					</div>
				</div>
			</div>
			<div>
				<Sort />
			</div>
		</div>
		<div class="tabs" v-if="statusTabsShow">
			<div class="selected-tab-all" v-if="selectedBreeds == ''">
				<div class="tabs-list tabs-list__selected" @click="deleteItem()">
								<div class="tabs-list__text">все песели</div>
				</div>
			</div>
			<div :class="['tabs__list',{'tabs__list_active' : item.tabSelected}, 'tabs-list']"
					v-for="(item, key) in breeds"
					:key="key" @click="showSelectedTabs(item, key)">
				{{ item.name }}
			</div>
		</div>
	</div>
</template>

<script>
import Sort from '../components/Sort'
export default {
	name: 'Tabs',
	data(){
		return{
			statusTabsShow: false,
			tabs: this.breeds ? this.breeds : [],
			selectedBreeds: ''
		}
	},
	props: {
		breeds: {
			type: Array,
			default: () => []
		}
	},
	components:{
		Sort
	},
	methods:{
		deleteItem(){
			this.selectedBreeds = ''
			this.$emit('searchByBreed', null)
		},
		tabsShow(){
			this.statusTabsShow = !this.statusTabsShow
		},
		showSelectedTabs(item){
			this.selectedBreeds = item.name
			this.$emit('searchByBreed', item.name)
		}
	}
}
</script>

<style lang="scss" scoped>
.selected-tab-all {
	width: 100%;
}
.flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__tabs{
		display: flex;
	}
}
.tabs-menu{
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px dashed #fff;
	&__headline{
		font-family: IBM Plex Sans;
		font-weight: normal;
		font-size: 16px;
		line-height: 25px;
		letter-spacing: 0.01em;
		color: #FFFFFF;
		margin-right: 10px;
	}
	&__icon{
		transform: rotate(180deg);
	}
	img{
		transition: all .3s;
	}
}
.tabs{
	margin-top: 34px;
	display: flex;
	flex-wrap: wrap;
	&__list{
		display: inline-block;
		color: #626262;
		border:  1px solid #626262;
		margin-right: 10px;
		margin-top: 6px;
		transition: all .2s;
		&:hover{
			color: #3C59F0;
			border:  1px solid #3C59F0;
		}
		&_active{
			color: #3C59F0;
			border:  1px solid #3C59F0;
		}
	}
}
.tabs-list{
	font-family: IBM Plex Sans;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.01em;
	width: max-content;
	padding: 5px 15px;
	border-radius: 20px;
	cursor: pointer;
	&__selected{
		border:  1px solid #3C59F0;
		margin-right: 10px;
		display: flex;
	}
	&__text{
		color: #3C59F0;
	}
	&__icon{
		color: #3C59F0;
		font-size: 12px;
		margin-left: 10px;
		transition: all .3s;
		&:hover{
			color: #FFFFFF;
		}
	}
}
.selected-tab{
	margin-left: 20px;
	display: flex;
}
</style>