<template>
	<div id="app">
		<Header />
		<router-view/>
	</div>
</template>

<script>
import Header from '@/components/Header'
export default {
	name: 'App',
	components:{
		Header
	},
}
</script>

<style>
	* {
		margin: 0;
		padding: 0;
	}
	#app{
		background-color: #151419;
	}
	::-webkit-scrollbar {
		width: 6px;
		height: 6px;
		background-color: #FFFFFF;
	}

	::-webkit-scrollbar-track {
		border-radius: 5px;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: #cacaca;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #9f9f9f;
	}
	.app-content{
			min-height: calc(100vh - 80px);
	}
	::selection {
		background: #0004;
		color: #FFFFFF;
	}
</style>
